{% extends 'base.html.twig' %}

{% block title %}Inscription - Confirmation{% endblock %}

{% block body %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card border-info">
            <div class="card-header bg-info text-white">
                <h4 class="mb-0">Valide ton compte</h4>
            </div>
            <div class="card-body">
                <p>Ton compte est créé. Clique sur le lien pour confirmer :</p>
                <p>
                    <a href="{{ confirmationUrl }}" class="btn btn-success">Confirmer mon compte</a>
                </p>
                <p class="text-muted small">{{ confirmationUrl }}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
