
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> Fichiers contenant des clés API - NE JAMAIS COMMITTER ###
CLE_SMTP_BREVO.txt
test_email.php
###< Fichiers contenant des clés API ###
